<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>搜索结果-{stl.SiteName}</title>
    <stl:include file="@/include/head.html"></stl:include>
    <style>
        @media only screen and (min-width: 1025px) {
            .am-with-topbar-fixed-top {
                padding-top: 105px;
            }
        }

        @media only screen and (max-width: 640px) {
            .am-with-topbar-fixed-top {
                padding-top: 80px;
            }
        }
    </style>
    <script src="https://apps.bdimg.com/libs/jquery/1.9.0/jquery.min.js"></script>
</head>

<body>
 <stl:include file="@/include/header.html"></stl:include>
    <div class="am-container am-margin-top-sm">
        <div class="am-g my-am-list">
            <div class="am-u-sm-12 am-u-lg-9">
                <ol class="am-breadcrumb">
                    当前位置：
                    <li>
                       <stl:location> >> </stl:location>
                    </li>
                </ol>
        <div class="list">
          <div class="am-topbar-right search-bar">                        <form role="search" name="searchform" action="{stl.SiteUrl}/search.html" method="get" _lpchecked="1">
                            <div id="search">
                                <input name="word" id="word" type="text" class="search-txt" placeholder="">
                                <input type="image" class="sear-icon" onclick="" src="{stl.SiteUrl}/images/s-btn.png">
                            </div>
                        </form>
                    </div>
                    <div class="am-list-news-bd">
                        <stl:search type="title,content">
    <stl:loading>
        <div class="alert alert-info" role="alert">
            <strong>提示!</strong> 系统正在搜索中，请稍后...
        </div>
    </stl:loading>
    <stl:yes>
        <stl:pageContents scope="All" pageNum="12">
            <stl:a target="_blank"></stl:a><br />
        </stl:pageContents>
        <br />
        <stl:pageItems>
            <table cellpadding="0" cellspacing="0" width="90%" height="40" align="center">
                <tr>
                    <td align="left">
                        <stl:pageItem type="FirstPage" text="首页"></stl:pageItem> |
                        <stl:pageItem type="PreviousPage" text="上一页"></stl:pageItem> |
                        <stl:pageItem type="NextPage" text="下一页"></stl:pageItem> |
                        <stl:pageItem type="LastPage" text="末页"></stl:pageItem>
                    </td>
                    <td align="right">
                        <stl:pageItem type="CurrentPageIndex" text="当前页："></stl:pageItem>
                        <stl:pageItem type="PageNavigation"></stl:pageItem>
                    </td>
                </tr>
            </table>
        </stl:pageItems>
    </stl:yes>
    <stl:no>
        <div class="alert alert-danger" role="alert">
            <strong>抱歉!</strong> 找不到和您的查询相符的项目
        </div>
    </stl:no>
</stl:search>
                    </div>
                    <div class="plist am-g" style="margin-top:6px; font-size: 1.4rem;">
            <stl:pageItems autoHide="true">
            
            <div class="am-u-md-12 am-g">
            <ul data-am-widget="pagination" class="am-pagination am-pagination-default">
            <stl:pageItem type="PreviousPage">
              <stl:yes>
              <li class="am-pagination-prev"><a href="{Current.Url}">← 上一页</a></li>
              </stl:yes>
              <stl:no>
              <li class="am-pagination-first"><a href="javascript:;">← 上一页</a></li>
              </stl:no>
            </stl:pageItem>
              <stl:pageItem type="PageNavigation" listNum="4">
              <stl:yes>
                <li><a href="{Current.Url}">{Current.Num}</a></li>
              </stl:yes>
              <stl:no>
                <li class="active"><a href="javascript:;">{Current.Num}</a></li>
              </stl:no>
              </stl:pageItem>
              <stl:pageItem type="NextPage">
              <stl:yes>
              <li class="am-pagination-next"><a href="{Current.Url}">下一页 →</a></li>
              </stl:yes>
              <stl:no>
              <li class="am-pagination-last"><a href="javascript:;">下一页 →</a></li>
              </stl:no>
            </stl:pageItem>
            </ul>
            </div>
          </stl:pageItems>
                    </div>
                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-3 am-u-lg-3 lm-gzdt com-mid-list">
                <div data-am-widget="list_news" class="am-list-news am-list-news-default">
                    <!--列表标题-->
                    <div class="am-list-news-hd am-cf">
                        <!--带更多链接-->
                        <a href="{Channel.NavigationUrl_gzdt}" class="">
                            <h2>{Channel.Title_gzdt}</h2>
                            <span class="am-list-news-more am-fr">+更多+</span>
                        </a>
                    </div>

                    <div class="am-list-news-bd">
                        <ul class="am-list">
                            <stl:contents channelName="工作动态" totalNum="8" border="0">
                                <li class="am-g am-list-item-dated">
                                    <stl:a title="{Content.FullTitle}" target="_blank" class="am-list-item-hd "><stl:content type="Title"></stl:content></stl:a>
                                    <span class="am-list-date">[<stl:content type="AddDate" formatString="MM-dd">]</span>
                                </li>
                            </stl:contents>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-3 am-u-lg-3 jdkf com-mid-list">
                <div data-am-widget="list_news" class="am-list-news am-list-news-default">
                    <!--列表标题-->
                    <div class="am-list-news-hd am-cf">
                        <!--带更多链接-->
                        <a href="{Channel.NavigationUrl_jdkf}" class="">
                            <h2>{Channel.Title_jdkf}</h2>
                            <span class="am-list-news-more am-fr">+更多+</span>
                        </a>
                    </div>

                    <div class="am-list-news-bd">
                        <ul class="am-list">
                            <stl:contents channelName="jdkf" totalNum="8" border="0">
                                <li class="am-g am-list-item-dated">
                                    <stl:a title="{Content.FullTitle}" target="_blank" class="am-list-item-hd ">
                                        <stl:content type="Title"></stl:content>
                                    </stl:a>
                                    <span class="am-list-date">[
                                        <stl:content type="AddDate" formatString="MM-dd">]</span>
                                </li>
                            </stl:contents>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
<stl:include file="@/include/footer.html"></stl:include>
</body>

</html>
