<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>搜索结果-{stl.SiteName}</title>
    <link rel="stylesheet" href="{stl.SiteUrl}/css/style.css">
    <link rel="stylesheet" href="{stl.SiteUrl}/css/search.css">
    <script src="//apps.bdimg.com/libs/jquery/1.9.0/jquery.min.js"></script>
    <!--[if IE 6]>
<script src="{$GetInstallDir}js/iepng.js" type="text/javascript"></script>
<script type="text/javascript">
   EvPNG.fix('div, ul, img, li, input'); 
</script>
<![endif]-->
    <script>
        $(document).ready(function () {
            $(".menu").find("li:first").addClass("currclass");
        });
    </script>
</head>

<body>
    <div id="pc">
        <div id="wrap">
            <!-- 头部通用 -->
            <stl:include file="@/include/header.html"></stl:include>
            <!-- 头部通用 end -->
            <div class="blank10">
            </div>

            <table border="0" cellpadding="0" cellspacing="0" class="">
                <tr>
                    <td width="720" class="" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" class="left">
                            <tr>
                                <td class="bread">
                                    <!-- 栏目导航 -->
                                    您当前位置：
                                    <stl:location> >> </stl:location>
                                    <!-- 栏目导航 end -->
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="search_list">
                                        <div class="am-list-news-bd">
                                            <stl:search type="title" isHighlight="true">
                                                <stl:loading>
                                                    <div class="alert alert-info" role="alert">
                                                        <strong>提示!</strong> 系统正在搜索中，请稍后...
                                                    </div>
                                                </stl:loading>
                                                <stl:yes>
                                                    <div data-am-widget="list_news" class="am-list-news am-list-news-default">

                                                        <div class="am-list-news-bd">
                                                            <ul class="am-list">
                                                                <stl:pageContents scope="All" pageNum="12">
                                                                    <li class="am-g am-list-item-desced">
                                                                        <a href="{content.NavigationUrl}" class="am-list-item-hd ">
                                                                            <stl:content type="title" isClearTags="true"></stl:content>（<stl:content type="AddDate"></stl:content>）</a>


                                                                        <div class="am-list-item-text">
                                                                            <stl:content type="content" wordNum="80" ellipsis="..." isClearTags="true"></stl:content>
                                                                        </div>

                                                                    </li>
                                                                </stl:pageContents>
                                                            </ul>
                                                            <br />
                                                            <stl:pageItems>
                                                                <table cellpadding="0" cellspacing="0" width="90%" height="40" align="center">
                                                                    <tr>
                                                                        <td align="left">
                                                                            <stl:pageItem type="FirstPage" text="首页"></stl:pageItem> |
                                                                            <stl:pageItem type="PreviousPage" text="上一页"></stl:pageItem> |
                                                                            <stl:pageItem type="NextPage" text="下一页"></stl:pageItem> |
                                                                            <stl:pageItem type="LastPage" text="末页"></stl:pageItem>
                                                                        </td>
                                                                        <td align="right">
                                                                            <stl:pageItem type="CurrentPageIndex" text="当前页："></stl:pageItem>
                                                                            <stl:pageItem type="PageNavigation"></stl:pageItem>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </stl:pageItems>
                                                        </div>

                                                    </div>
                                                </stl:yes>
                                                <stl:no>
                                                    <div class="alert alert-danger" role="alert">
                                                        <strong>抱歉!</strong> 找不到和您的查询相符的项目
                                                    </div>
                                                </stl:no>
                                            </stl:search>
                                        </div>
                                        <div class="plist am-g" style="margin-top:6px; font-size: 1.4rem;">
                                            <stl:pageItems autoHide="true">

                                                <div class="am-u-md-12 am-g">
                                                    <ul data-am-widget="pagination" class="am-pagination am-pagination-default">
                                                        <stl:pageItem type="PreviousPage">
                                                            <stl:yes>
                                                                <li class="am-pagination-prev">
                                                                    <a href="{Current.Url}">← 上一页</a>
                                                                </li>
                                                            </stl:yes>
                                                            <stl:no>
                                                                <li class="am-pagination-first">
                                                                    <a href="javascript:;">← 上一页</a>
                                                                </li>
                                                            </stl:no>
                                                        </stl:pageItem>
                                                        <stl:pageItem type="PageNavigation" listNum="4">
                                                            <stl:yes>
                                                                <li>
                                                                    <a href="{Current.Url}">{Current.Num}</a>
                                                                </li>
                                                            </stl:yes>
                                                            <stl:no>
                                                                <li class="active">
                                                                    <a href="javascript:;">{Current.Num}</a>
                                                                </li>
                                                            </stl:no>
                                                        </stl:pageItem>
                                                        <stl:pageItem type="NextPage">
                                                            <stl:yes>
                                                                <li class="am-pagination-next">
                                                                    <a href="{Current.Url}">下一页 →</a>
                                                                </li>
                                                            </stl:yes>
                                                            <stl:no>
                                                                <li class="am-pagination-last">
                                                                    <a href="javascript:;">下一页 →</a>
                                                                </li>
                                                            </stl:no>
                                                        </stl:pageItem>
                                                    </ul>
                                                </div>
                                            </stl:pageItems>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="blank10"></div>
                    </td>
                    <td width="10"></td>
                    <td width="250" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" class="block-r">
                            <tr>
                                <td>
                                    <div class="block-r-t">
                                        <h2>文明播报</h2>
                                        <a target="_blank" href="{channel.NavigationUrl_wmbb}" class="more">更多&gt;&gt;</a>
                                    </div>
                                    <div class="blank15"></div>
                                    <!-- 内页文明播报 -->
                                    <ul>
                                        <stl:contents channelName="文明播报" totalNum="6" order="AddDate">
                                            <li>
                                                <a href="{content.NavigationUrl}" target="_blank" title="{content.FullTitel}">
                                                    <stl:content type="Title" wordNum="14" ellipsis="..."></stl:content>
                                                </a>
                                            </li>
                                        </stl:contents>
                                    </ul>
                                    <!-- 内页文明播报 end -->
                                    <div class="blank15"></div>
                                    <div class="block-r-t">
                                        <h2>多彩贵州文明行动</h2>
                                        <a target="_blank" href="{channel.NavigationUrl_dcgzwmxd}" class="more">更多&gt;&gt;</a>
                                    </div>
                                    <div class="blank15"></div>
                                    <!-- 内页多彩贵州 -->
                                    <ul>
                                        <stl:contents channelName="文明播报" totalNum="6" order="AddDate">
                                            <li>
                                                <a href="{content.NavigationUrl}" target="_blank" title="{content.FullTitel}">
                                                    <stl:content type="Title" wordNum="14" ellipsis="..."></stl:content>
                                                </a>
                                            </li>
                                        </stl:contents>
                                    </ul>
                                    <!-- 内页多彩贵州 end -->
                                    <div class="blank15"></div>
                                    <!-- <div class="block-r-t">
                                            <h2>图播</h2>
                                        </div> -->
                                    <!-- 内页幻灯 -->
                                    <!-- 内页幻灯 end -->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="blank10">
        </div>
        <!-- 底部通用 -->
        <stl:include file="@/include/footer.html"></stl:include>
        <!-- 底部通用 end-->
    </div>
    <!-- PC end -->
</body>

</html>
