<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>《浅谈黔南门户网站对发展黔南的价值和意义》-{stl.SiteName}</title>
    <stl:include file="@/include/head.html"></stl:include>
    <style>
        @media only screen and (min-width: 1025px) {
            .am-with-topbar-fixed-top {
                padding-top: 105px;
            }
        }

        @media only screen and (max-width: 640px) {
            .am-with-topbar-fixed-top {
                padding-top: 80px;
            }
        }
    </style>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?0ca1dc46120bf60eae22257eeb06f3cf";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
    <!--[if lte IE 7]>
    <p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，网站暂不支持。 请 <ahref="http://browsehappy.com/" target="_blank">升级浏览器</a>以获得更好的体验！</p>
    <![endif]-->
    <stl:include file="@/include/header.html"></stl:include>

    <div class="am-container">
        <div class="am-g my-am-list">
            <div class="am-u-sm-12 am-u-md-8 am-u-lg-8">
                <ol class="am-breadcrumb">
                    当前位置：
                    <li>
                        <stl:location> >> </stl:location>
                    </li>
                </ol>
                <div class="newstitles">
                    <h2>《浅谈黔南门户网站对发展黔南的价值和意义》</h2>
                    <span class="am-badge am-round">作者：杨忠 </span>                    
                    <span class="am-badge am-round">时间：2008/9/17 </span>
                    <!-- <stl:if testType="Source" testOperate="NotEmpty">
                        <span class="am-badge am-round">来源：{content.Source}</span>
                    </stl:if> -->
                </div>
                <div class="contents">
                    <p style="text-align: center;">
                        　　中国今日评论社特邀评论员杨忠
                    </p>
                    <p>
                        　　21世纪是网络世纪。据统计，中国网民数量居世界第二位，一个城市网民数量的多少以及使用网络的频率能直接反映出这座城市人民的文化素质和城市科技含量。
                    </p>
                    <p>
                        　　多年来，雅虎、百度、新浪、阿里巴巴等网站的成功运营，带动了一方经济的发展，笔者一直遗憾黔南没有一家知名的专业网站，不久前，欣闻都匀步行街黔南热线网站开办，实地考察后，激动不已，笔者深感黔南热线网站的开办乃是黔南党政以及400多万民众之幸事，对发展黔南的价值和意义如下：
                    </p>
                    <p>
                        　　一、对黔南政务的意义：
                    </p>
                    <p>
                        　　当前，从中央到各级政府都把电子政务建设当成一件大事要事来抓，温总理曾指示：“加快电子政务建设，推进行政管理体制改革，提高政府工作效率和公共服务水平，为公众参与经济社会活动创造条件”。黔南热线是经省、州工商局和省通信管理局批准的黔南目前唯一一家具有互联网信息服务业务的企业，目前已凝聚了20多位来自四川、江西、遵义、兴义等地的IT行业和管理方面的专业人士，透过黔南热线规范的管理、专业化的运作一定能够推动和加快黔南电子政务的建设。
                    </p>
                    <p>
                        　　二、对发展黔南经济的意义：
                    </p>
                    <p>
                        　　电子商城、电子商务已不再是新鲜词，随着互联网的普及，越来越多的商家已走在时代发展的前列，逐步转型到电子商务领域中来，而网上谈生意和购物也成为一种时尚和趋势，黔南热线将为黔南众商家提供一个走向世界的窗口，把商务做到全世界去，同时也让全世界能通过黔南热线这个窗口，了解黔南、开发黔南、富裕黔南。黔南热线对黔南的发展是综合全面的服务，无论是招商引资、扶贫助学、旅游开发、民间民族文化、土特产的推广等都将通过黔南热线融入现代高科技信息流的大环境中，全面推动黔南经济的发展。
                    </p>
                    <p>
                        　　三、对黔南文化建设的意义
                    </p>
                    <p>
                        　　网络时代的一个显著特征之一就是知识大爆炸，网上各种资源共享以及资源整合使得网上资讯包罗万象，在今天这样一个学习型社会不仅能提升全州人民的文化素养，也能将黔南独特的民族民俗文化宣传出去，增强黔南文化底蕴。
                    </p>
                    <p>
                        　　四、对黔南百姓生活的意义
                    </p>
                    <p>
                        　　网络传媒相对于电视传媒、报刊传媒和广播传媒，除了不受时间、地域的限制，以及价格低廉等独到之处外，还有一点好处就是互动性，百姓可以主动查询衣、食、住、行、游，以极低的成本可以获得大量所需的信息，真可谓：“足不出户，尽知天下事”。可以用于本地的工作、生活、学习，也可以用于出差、旅游，更可以让外地游客详尽了解黔南，大到政府政策，小到百姓生活中一些细小琐事，无一不涵盖其中。
                    </p>
                    <p>
                        　　以上林林总总无法细数黔南热线开办对黔南州所带来的价值和意义。总之，作为一个不靠国家投资一分钱却能给政府、社会及个人带来如此多好处的企业来讲，的确需要得到政府以及各界扶持，当这棵小树苗长成参天大树的时候，一定能给政府、社会和个人更多的回馈，让我们共同祝愿黔南热线的明天会更好。
                    </p>
                    <p>
                        <br/>
                    </p>
                    <p style="text-align: right;">　　（摘自：黔南日报2007年6日26日第八版《时评》）</p>
                </div>
                <hr />

            </div>
            <div class="am-u-sm-12 am-u-md-4 am-u-lg-4 lm-rmrw com-mid-list">
                <div data-am-widget="list_news" class="am-list-news am-list-news-default">
                    <!--列表标题-->
                    <div class="am-list-news-hd am-cf">
                        <!--带更多链接-->
                        <a href="javascript:;" class="">
                            <h2>热门人物</h2>
                            <!-- <span class="am-list-news-more am-fr">more &raquo;</span> -->
                        </a>
                    </div>

                    <div class="am-list-news-bd">
                        <ul class="am-list">
                            <stl:contents channelName="首页" scope="SelfAndChildren" order="Hits" totalNum="8">
                                <li class="am-g am-list-item-dated">
                                    <a href="{content.NavigationUrl}" class="am-list-item-hd">{content.title}</a>
                                    <span class="am-list-date">[
                                        <stl:content type="AddDate" formatString="MM-dd"></stl:content>]</span>
                                </li>
                            </stl:contents>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-4 am-u-lg-4 com-mid-list">
                <div class="am-g aside-zxrw">
                    <div class="am-u-sm-12">
                        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-multi">
                            <h2 class="am-titlebar-title">
                                最新人物
                            </h2>
                            <nav class="am-titlebar-nav">
                                <!-- <a href="http://sd.qnz.com.cn/channels/sdly.html" class="">more &raquo;</a> -->
                            </nav>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12 aside-ly ly">
                        <ul class="am-gallery am-gallery-overlay am-avg-sm-2 am-avg-md-2 am-avg-lg-2 am-thumbnails">
                            <stl:contents channelName="首页" scope="Children" total="6" isImage="true" order="AddDate">
                                <li>
                                    <div class="am-gallery-item">
                                        <a href="{content.NavigationUrl}" target="_blank" class="">
                                            <img src="{content.ImageUrl}" alt="{content.title}">
                                            <h3 class="am-gallery-title">{content.title}</h3>
                                        </a>
                                    </div>
                                </li>
                            </stl:contents>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <stl:include file="@/include/footer.html"></stl:include>
</body>

</html>