@charset "utf-8";
/* 公共头部 */
.my-am-btn{
    font-size: 1.4rem;
    margin-top: .4rem;
    width: 9.6rem;
    border-radius: .4rem;
}
.my-am-dropdown-content{
    min-width: 180px;
    padding: 10px 5px;
}
.shouye{
    color: #318ade !important;
}
.am-container {
    max-width: 1200px
}
.fl{
    float: left !important;
}
.footlink {
    background: #318ade;
    line-height: 3rem
}
.next span{

}
.next a {
    color: #666;
}
.next a:hover{
    color: #318ade;
}
.footlink ul{
    padding: .4rem 0 .4rem 0;
}
.footlink a {
    color: #fff;
    font-size: 1.4rem;
}

@media only screen and (min-width:1025px) {
    .ly .am-gallery-item img {
        height: 136px
    }
    .am-gallery-bordered .am-gallery-item img {
        width: 100%;
        height: 108px
    }
    .am-slides img {
        height: 320px
    }
    .padding-none {
        padding: 0
    }
    .am-list>li>a {
        /* padding: .5rem 0 */
    }
    .am-with-fixed-header {
        padding-top: 0
    }
}

.am-list a {}

.am-list a:before {
    content: "\f0da";
    margin-right: .5rem
}

.gaikuang li {
    margin-top: .2rem
}

[class*=am-align-] {
    margin-bottom: .2rem
}

.menu-bars>a {
    color: #eee
}

.am-topbar .am-text-ir {
    display: block;
    margin-right: 10px;
    height: 50px;
    width: 125px;
    background: url(../images/lxsd.png) no-repeat left center;
    -webkit-background-size: 125px 24px;
    background-size: 125px 24px
}

.link {
    border-radius: 5px;
    /* border: 1px solid #efefef; */
    /* background: #f5f5f5 */
}

.link1 {
    border-bottom: 1px dotted #ccc
}

a.red {
    color: red
}

.newstitles {
    margin: 20px 0
}

.newstitles h2 {
    font-size: 200%;
    margin-bottom: 10px
}

@media only screen and (max-width:640px) {
    .ly .am-gallery-item img {
        height: 140px
    }
    .am-gallery-bordered .am-gallery-item img {
        width: 100%;
        height: 80px
    }
    .am-slides img {
        height: 280px
    }
    .hd {
        margin-bottom: 10px
    }
    .newstitles h2 {
        font-size: 150%
    }
}

@media only screen and (min-width:641px) and (max-width:1024px) {
    .ly .am-gallery-item img {
        height: 160px
    }
    .am-gallery-bordered .am-gallery-item img {
        width: 100%;
        height: 90px
    }
    .am-slides img {
        height: 420px
    }
    .hd {
        margin-bottom: 10px
    }
}

.newstitles img {
    width: 30px;
    border-radius: 30px
}

.newstitles span {
    color: #e1652f;
    padding: 0 5px
}

.contents {
    margin: 30px auto
}

.newstitles span {
    color: #fff;
    padding: .25em .625em
}

.list li {
    height: 52px;
}

.list li a {}

.list .date {
    float: right;
    font-size: 80%
}

.contents img {
    max-width: 90%
}

/* PC头部nav */
.my-header-topbar{
    background: #fff;
    border-color: #fff;
}
.wrap-nav-pc{
    position: relative
}
.my-header-topbar .nav-pc{
    position: absolute;
    top: -56px;
    left: 16px;
    width: 97%;
    background: #0166b6;
    /* padding: 5px 0; */
}
.my-header-topbar .nav-pc ul li{
    margin: 0;
}
@media only screen and (min-width: 641px){
    .am-topbar-nav>li>a {
        position: relative;
        line-height: 60px;
        padding: 0 19px;
    }
}

@media only screen and (min-width: 641px){
    .am-topbar-nav>li>a:after {
        bottom: 0px;
    }
}
.am-topbar-inverse .am-topbar-nav>li>a:after {
    border-bottom-color: #0376d3;
}
.am-topbar-inverse .am-topbar-nav>li>a:focus:after, .am-topbar-inverse .am-topbar-nav>li>a:hover:after {
    border-bottom-color: #0376d3;
}
/* 搜索条 */
.search-bar{
    position: relative;
    margin-right: 28px;
    line-height: 58px;
}

.search-bar input[type=text]{
    width: 190px;
    padding: 8px;
    font-size: 12px;
    background: #055290;
    color: #fff;
    border: none;
    border-radius: 10px;
}
@media only screen and (max-width: 1170px){
    .search-bar input[type=text]{
        width: 140px;
    }
}
@media only screen and (max-width: 1120px){
    .search-bar input[type=text]{
        width: 50px;
    }
}
.search-bar .sear-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -6px;
}
/* 手机头部 */
.my-mb-header{
    background: #0166b6;
}
.my-mb-header .am-header-left a i.am-icon-home{
    font-size: 20px !important;
} 
.pc-header .am-topbar{
    min-height: 0; 
    margin-bottom: 0;
}
/* .am-titlebar h2,
.am-titlebar nav a,
.am-list-news h2{
    color: #3390e7 !important;
} */

.sdbanner-m{
    margin-top: 1rem;
}
/* 工作动态 */
.my-news .star{
    height: 15px;
    margin: 10px 0 38px 0;
    text-align: center;
    border-bottom: 1px solid #0166b6;
}
.my-news .star span{
    padding: 8px 30px 8px 50px;
    font-size: 18px;
    background: url(../images/l-gzdt.png) 30px center no-repeat;
    background-color: #0166b6;
    color: #fff;
    text-align: left;
}
.my-news .gzdt-tj{
    border-bottom: 1px dashed #e5e5e5;
}
.my-news .gzdt-tj ul{
    margin-bottom: .6rem;
}
.my-news .gzdt-tj ul li a{
    font-size: 1.6rem;
    color: #333;
    margin-bottom: 10px;
}
.my-news .gzdt-tj ul li a::before{
    content: none;
}
.my-news .gzdt-tj .am-list-item-text{
    height: 40px;
    line-height: 22px;
    overflow: hidden;
}
.my-news .gzdt-list{
    margin-top: 1.4rem;
}
.my-news .gzdt-list ul li{
    line-height: 10px;
}
.my-news ul li{
    line-height: 0;
    font-size: 1.4rem;
    border: none;
}
.am-list-date {
    position: absolute;
    top: .9rem;
    right: 5px;
    font-size: 1.3rem;   
}
.my-news ul li a{
    color: #444;
}
.my-news ul li a:hover{
    color: #3390e7;
}

/* 通知公告*/
.my-tzgg{
    /* background: url(../images/zjsd-bg.jpg) no-repeat; */
}
.my-tzgg .am-intro .am-intro-hd,
.my-tzgg .am-intro ul li a{
    background: #0166b6;
    
}
.my-tzgg .am-intro .am-intro-hd h2{
    padding-left: 26px;
    font-weight: normal;
    background: url(../images/tzgg-icon.png) 1px center no-repeat;
}
.my-tzgg .am-intro .am-intro-hd a{
    font-size: 1.3rem;
}
.my-tzgg .zjsd-img{
    padding: .5rem 0 0 .5rem;
}
.my-tzgg .tzgg-list{
    padding: 1rem .6rem 1.2rem 1rem;
    background: #f9fcff;
}
.my-tzgg .tzgg-list ul li{
    line-height: 10px;
    background: none;
    border: none;
}
.my-tzgg .tzgg-list ul li a{
    background: none;
    color: #333;
}
.my-tzgg .tzgg-list ul li a::before{
    content: none;
}
/* 预防教育、戒毒康复 */
.com-mid-list .am-list-news-default{
    margin: 0;
}
.com-mid-list .am-list-news-hd{
    border-bottom: 2px solid #0166b6;
}
.com-mid-list .am-list-news-hd h2{
    color: #0166b6;
    font-size: 18px;
    font-weight: normal;
}
.com-mid-list .am-list-news-hd span{
    color: #888;
}
.com-mid-list .am-list-news-bd ul{
    margin-top: 1rem;
}
.com-mid-list .am-list-news-bd ul li{
    line-height: 8px;
    border: none;
}
.com-mid-list .am-list-news-bd ul li a{
    font-size: 1.4rem;
    color: #333;
}
.com-mid-list .am-list-news-bd ul li a::before{
    content: none;
}

/* 预防教育 */
.yfjy .am-list-news-hd h2{
    padding-left: 34px;
    background: url(../images/yfjy-icon.png) 4px 4px no-repeat;
}
@media only screen and (min-width: 1025px){
    .yfjy ul li img{
        height: 100px !important;
    }
}
@media only screen and (max-width: 639px){
    .yfjy ul li img{
        height: 60px !important;
    }
}
.yfjy ul li .am-u-sm-3{
    width: 28%;
}
.yfjy ul li .am-u-sm-9{
    width: 71%;
}
.yfjy ul li .am-list-main h3 a{
    display: inline-block;
    width: 100%;
    line-height: 2rem;
    font-size: 16px;
    color: #333;
}
.yfjy ul li .am-list-main h3 a:hover{
    color: #3390e7;
}
.yfjy ul li .am-list-main div{
    line-height: 1.7em !important;
    max-height: 5rem !important;
    color: #999 !important;
}
/* 戒毒康复 */
.jdkf .am-list-news-hd h2{
    padding-left: 30px;
    background: url(../images/jdkf-icon.png) 4px 4px no-repeat;
}
.am-list-news-bd ul li a:hover{
    color: #3390e7;
}
/* 禁毒视频 */
.jdsp .am-titlebar{
    border-top: 2px #009944 solid; 
}
.jdsp .am-titlebar .am-titlebar-title{
    padding-left: 40px;
    font-size: 18px;
    font-weight: normal;
    color: #0166b6;
    background: url(../images/jdsp-icon.png) 10px 11px no-repeat;
}
.jdsp .am-titlebar a{
    font-size: 1.3rem;
    color: #888;
}
.jdsp .ly ul{
    margin-top: 10px;
    margin-bottom: 40px;
}
/* 缉毒执法、政策法规*/
.jdzc{
    padding-top: 10px;
}
.jd-wrap {
    margin-bottom: 3rem;
}
.jd-wrap .am-tabs-default{
    margin: 0;
}
.jd-wrap .am-tabs .am-tabs-nav >.am-active a{
    background: #0166b6;
    font-size: 17px;
}
.jd-wrap .am-tabs-bd .jdzc-com-list ul li{
    line-height: 10px;
    border: none;
}
.jd-wrap .am-tabs-bd .jdzc-com-list ul li a{
    color: #333;
    font-size: 1.4rem;
}
.jd-wrap .am-tabs-bd .jdzc-com-list ul li a:hover{
    color: #0376d3;
}
.jd-wrap .am-tabs-bd .jdzf .am-list-news-bd{
    margin-top: 18px;
}
.jd-wrap .am-tabs-bd .zcfg .am-list-news-bd{
    margin-top: 9px;
}
.jd-wrap .am-tabs-bd .am-tab-panel{
    padding: 10px 12px 0;
}
/* 缉毒执法 */
.jdzf .am-gallery-bordered .am-gallery-item{
    box-shadow: none;
    -webkit-box-shadow: none;
}
/* 禁毒课堂 */
.jdkt .am-panel-hd{
    padding: 0;
}
.jdkt .am-panel-hd span{
    display: inline-block;
    padding: .64rem 2.4rem;
    background: #0166b6;
    color: #fff;
    font-size: 17px;
}
.jdkt .am-panel-bd{
    padding: 10px 0 11px;
}
.jdkt .am-panel-bd .am-list-news-default{
    margin: 0;
}
.jdkt .am-panel-bd .am-list-news-hd{
    border-bottom: 2px solid #00a0e9;
}
.jdkt .am-panel-bd .am-list-news-hd h2{
    font-size: 16px;
    color: #3b98f7;
    font-weight: normal;
}
.jdkt .am-panel-bd .am-list-news-hd span{
    color: #888;
    font-size: 1.3rem;
}
.jdkt .am-panel-bd .am-list-news-bd ul{
    margin-top: 10px;
}
.jdkt .am-panel-bd .am-list-news-bd ul li{
    border: none;
    line-height: 10px;
}
.jdkt .am-panel-bd .am-list-news-bd ul li a{
    color: #333;
    font-size: 1.4rem;
}
.jdkt .am-panel-bd .am-list-news-bd ul li a:hover{
    color: #0376d3;
}
/* 禁毒知识 */
.jdkt .dpzs h2{
    padding-left: 24px;
    background: url(../images/dpzs-icon.png) 1px center no-repeat;
}
/* 毒品危害 */
.jdkt .dpwh h2{
    padding-left: 28px;
    background: url(../images/dpwh-icon.png) 1px center no-repeat;
}

/* 县市报道 */

/* --- PC --- */
.xsbd-hd .am-list-news-hd h2{
    padding-left: 28px;
    background: url(../images/xsbd-icon.png) 1px center no-repeat;
}
.xsbd .pc-xsbd-bd{
    margin-bottom: 30px;
}
#xsbd{
    width: 1162px;
    height: 308px;
    overflow: hidden;
}
#xsbd>ul>li{
    float: left;
    margin-bottom: 10px;
}
.xsbd .pc-xsbd-bd .w-ul{
    margin-top: 30px;
    padding: 0;
}
.xsbd .pc-xsbd-bd .w-ul .w-li{
    position: relative;
    float: left;
    width: 200px;
    height: 248px;
    margin-right: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    border: 1px solid #e5e5e5;

}
.xsbd .pc-xsbd-bd .w-ul .w-li:hover{
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    border: 1px solid #ccc;
}
.xsbd .pc-xsbd-bd .xs-item .item-pic{
    position: relative;
    display: inline-block;
    width: 198px;
    height: 130px;
}
.xsbd .pc-xsbd-bd .xs-item .item-pic img{
    width: 100%;
    height: 100%;
}
.xsbd .pc-xsbd-bd .xs-item .item-pic span{
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 198px;
    height: 30px;
    padding: 0 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: rgba(31, 31, 31, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c000000,endColorstr=#4c000000);
}
.xsbd .pc-xsbd-bd .xs-item .item-news{
    margin: 12px 0 0 0;
    padding: 4px 8px;
}
.xsbd .pc-xsbd-bd .xs-item .item-news li{
    position: relative;
    list-style: none;
    line-height: 20px;
}
.xsbd .pc-xsbd-bd .xs-item .item-news li a{
    display: inline-block;
    width: 76%;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}
.xsbd .pc-xsbd-bd .xs-item .item-news li a:hover{
    color: #0376d3;
}
.xsbd .pc-xsbd-bd .xs-item .item-news li span{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: #666;
}
.xsbd .pc-xsbd-bd .xs-item .item-xs-name{
    position: absolute;
    bottom: -24px;
    left: 50%;
    width: 38%;
    line-height: 23px;
    padding: 0 5px;
    margin: 12px 0 12px -38px;
    text-align: center;
    background: #03a9f4;
    border-radius: 2px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.xsbd .pc-xsbd-bd .xs-item .item-xs-name:hover{
    background-color: #23b9fc;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.225);
}
.xsbd .pc-xsbd-bd .xs-item .item-xs-name a{
    font-size: 12px;
    color: #fff;
}
/* --- Phone --- */
.mb-xsbd-bd ul{
    margin: 1rem 0;
}
.mb-xsbd-bd ul li{
    float: left;
    margin-top: 1rem;
    text-align: center;
}

.mb-xsbd-bd ul li a{
    display: inline-block;
    padding: .5rem 1.7rem;
    background: #03a9f4;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #ddd, -1px -1px 2px #ddd;
}
@media only screen and (max-width:361px){
    .mb-xsbd-bd ul li a{
        padding: .4rem 1.2rem;
    } 
}

/* 友情链接 */
.friendlink {
    margin-bottom: 3rem;
}
.friendlink .am-titlebar{
    border-top: 2px solid #0376d3;
}
.friendlink .am-titlebar .am-titlebar-title{
    font-size: 18px;
    color: #0166b6;
    font-weight: normal;
    padding-left: 40px;
    background: url(../images/fdlink-icon.png) 10px center no-repeat;
}
.friendlink .fdlink-list{
    padding-left: 0;
    margin-top: 1rem;
}
.friendlink .fdlink-list li {
    float: left;
    margin-right: 3rem;
    list-style: none;
}
.friendlink .fdlink-list li a{
    color: #333;
    font-size: 1.4rem;
}
.friendlink .fdlink-list li a:hover{
    color: #0376d3;
}

/* 友情链接 */
.footlink{
    text-align: center;
    padding: 2rem 0;
    background: #0166b6;
}
.footlink p{
    margin: 0;
    color: #fff;
    font-size: 1.4rem;
    line-height: 20px;
}

/* 栏目页 */
.my-am-list .am-breadcrumb{
    margin-bottom: 0;
}
.my-am-list .am-breadcrumb a{
    font-size: 1.4rem;
    color: #3390e7
}
.my-am-list .am-breadcrumb a:hover{
    text-decoration: underline;
}
.my-am-list .lm-list li{
    /* line-height: 10px; */
    margin-bottom: 0;
    border: none;
    border-bottom: 1px dashed #e5e5e5 !important;
}
.my-am-list .list ul li a{
    color: #333;
    /* font-size: 1.4rem; */
}
.my-am-list .list ul li a:hover{
    color: #0376d3;
}
.my-am-list .lm-gzdt h2{
    padding-left: 24px;
    background: url(../images/aside-gzdt-icon.png) 1px center no-repeat;
}
.my-am-list .am-list .am-list-item-dated a {
    padding-right: 107px !important;
}
#tzgg a{
	white-space: inherit;
	line-height: 26px;
}