<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{Content.Title}-{stl.SiteName}</title>
    <stl:include file="@/include/head.html"></stl:include>
    <style>
        @media only screen and (min-width: 1025px) {
            .am-with-topbar-fixed-top {
                padding-top: 105px;
            }
        }

        @media only screen and (max-width: 640px) {
            .am-with-topbar-fixed-top {
                padding-top: 80px;
            }
        }
    </style>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?0ca1dc46120bf60eae22257eeb06f3cf";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
	<script>
        var ua = navigator.userAgent || navigator.vendor || window.opera;
        //全局对象
        window.APPCONF = {
            isIOS: /ipad|iphone|ipod/ig.test(ua) && !window.MSStream,
            isWechat: /micromessenger/ig.test(ua),
            isShoubai: /baiduboxapp/ig.test(ua),
            // 分享 参数
            url: location.href,
            shareTitle: '{Content.Title}-{stl.SiteName}',
            shareDesc: '<stl:content type="content" wordNum="100" isClearTags="true"></stl:content>',
            shareImgUrl: '{Content.imageUrl}'
        };
    </script>
</head>

<body>
    <!--[if lte IE 7]>
    <p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，网站暂不支持。 请 <ahref="http://browsehappy.com/" target="_blank">升级浏览器</a>以获得更好的体验！</p>
    <![endif]-->
    <stl:include file="@/include/header.html"></stl:include>

    <div class="am-container">
        <div class="am-g my-am-list">
            <div class="am-u-sm-12 am-u-md-8 am-u-lg-8">
                <ol class="am-breadcrumb">
                    当前位置：
                    <li>
                        <stl:location> >> </stl:location>
                    </li>
                </ol>
                <div class="newstitles">
                    <h2>{content.Title}</h2>
                    <stl:if testType="SubTitle" testOperate="NotEquals" testValue="&nbsp;">                        
                      <h5>{content.SubTitle}</h5>
                    </stl:if>
                    <stl:if testType="Author" testOperate="NotEmpty">
                        <span class="am-badge am-round">作者：{content.Author}</span>
                    </stl:if>
                    <span class="am-badge am-round">时间：{content.AddDate}</span>
                    <stl:if testType="Source" testOperate="NotEmpty">
                        <span class="am-badge am-round">来源：{content.Source}</span>
                    </stl:if>
                </div>
                <div class="contents">
                    <stl:content type="Content"></stl:content>
                    <p>　　（编辑：{content.AddUserName}&nbsp; 审核编辑：{content.shbj}）</p>
                </div>
                <hr />
                <div class="am-g next">
                    <span class="am-u-sm-12 am-u-lg-12 am-text-sm">
                        <stl:navigation emptyText="这是最新一篇文章" type="PreviousContent">
                            上一篇：
                            <stl:a></stl:a>
                        </stl:navigation>
                    </span>
                    <span class="am-u-sm-12 am-u-lg-12 am-text-sm">
                        <stl:navigation emptyText="这是最后一篇文章" type="NextContent">
                            下一篇：
                            <stl:a></stl:a>
                        </stl:navigation>
                    </span>
                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-4 am-u-lg-4 lm-rmrw com-mid-list">
                    <div data-am-widget="list_news" class="am-list-news am-list-news-default">
                        <!--列表标题-->
                        <div class="am-list-news-hd am-cf">
                            <!--带更多链接-->
                            <a href="javascript:;" class="">
                                <h2>热门人物</h2>
                                <!-- <span class="am-list-news-more am-fr">more &raquo;</span> -->
                            </a>
                        </div>
    
                        <div class="am-list-news-bd">
                            <ul class="am-list">
                                <stl:contents channelName="首页" scope="SelfAndChildren" order="Hits" totalNum="8">
                                    <li class="am-g am-list-item-dated">
                                        <a href="{content.NavigationUrl}" class="am-list-item-hd">{content.title}</a>
                                        <span class="am-list-date">[
                                            <stl:content type="AddDate" formatString="MM-dd"></stl:content>]</span>
                                    </li>
                                </stl:contents>
                            </ul>
                        </div>
    
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-4 am-u-lg-4 com-mid-list">
                    <div class="am-g aside-zxrw">
                        <div class="am-u-sm-12">
                            <div data-am-widget="titlebar" class="am-titlebar am-titlebar-multi">
                                <h2 class="am-titlebar-title">
                                    最新人物
                                </h2>
                                <nav class="am-titlebar-nav">
                                    <!-- <a href="http://sd.qnz.com.cn/channels/sdly.html" class="">more &raquo;</a> -->
                                </nav>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12 aside-ly ly">
                            <ul class="am-gallery am-gallery-overlay am-avg-sm-2 am-avg-md-2 am-avg-lg-2 am-thumbnails">
                                <stl:contents channelName="首页" scope="Children" total="6" isImage="true" order="AddDate">
                                    <li>
                                        <div class="am-gallery-item">
                                            <a href="{content.NavigationUrl}" target="_blank" class="">
                                                <img src="{content.ImageUrl}" alt="{content.title}">
                                                <h3 class="am-gallery-title">{content.title}</h3>
                                            </a>
                                        </div>
                                    </li>
                                </stl:contents>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
        <stl:include file="@/include/footer.html"></stl:include>
      <script>         
        $(".rwft-cont-hidden").css("display","none");
      </script>
	  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<script src="//s.bdstatic.com/common/openjs/aio.js?_v=20170512"></script>
	<script src="/js/wx/zepto.min.js" type="text/javascript"></script>
	<script src="/js/wx/share.js" type="text/javascript"></script>
	<script type="text/javascript">
		// 初始化分享
		if (window.APPCONF.isWechat) {
			initWXShare();
		} else if (window.APPCONF.isShoubai) {
			initBoxShare();
		}
	</script>
</body>

</html>
